.box{
    max-width:1580px;
    height: 100vh;
    margin-inline: auto auto;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 33%;
    height: 33%;
    border: 1px solid rgba(190,190,190,0.5);
}